* {
  box-sizing: border-box;
}

body {
  background-image: url("./images/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);

  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 1em;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

p,
a {
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}

.header {
  margin-right: auto;
}

.logo {
  width: 120px;
  margin-bottom: 4.375em;
}

.mockup {
  width: 296px;
  height: 209px;
  margin-bottom: 3.75em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.39em 2.5em 2.5em;
}

.top,
.bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.btn {
  color: hsl(257, 40%, 49%);
  text-decoration: none;
  width: 200px;
  height: 40px;
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 0 4px 15px hsl(258, 38%, 21%);
  margin-bottom: 4em;
}

.btn:hover {
  cursor: pointer;
  background-color: hsl(300, 69%, 71%);
  color: whitesmoke;
}

.fa-brands {
  transform: scale(1.5);
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.fa-brands:hover {
  cursor: pointer;
  color: hsl(300, 69%, 71%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(300, 69%, 71%);
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 60em) {
  body {
    background-image: url("./images/bg-desktop.svg");
    background-size: cover;
  }

  .logos {
    margin: 0 auto;
    display: flex;
    max-width: 1400px;
    width: 88%;
    padding-bottom: 90px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1400px;
  }

  .right {
    width: 40%;
  }

  footer {
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 1400px;
  }
}
